[submodule "asg"]
	path = asg
	url = https://github.com/ivankra/zhongwen-asg.git
[submodule "dangdai"]
	path = dangdai
	url = https://github.com/ivankra/dangdai.git
[submodule "hsk30"]
	path = hsk30
	url = https://github.com/ivankra/hsk30.git
